<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.templab.flippedclass.mapper.KlassTeamMapper">
    <!-- <cache/>-->
    <resultMap id="BaseResultMap" type="online.templab.flippedclass.entity.KlassTeam">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="klass_id" jdbcType="BIGINT" property="klassId"/>
        <id column="team_id" jdbcType="BIGINT" property="teamId"/>
    </resultMap>

    <select id="selectByKlassIdAndStudentId" resultMap="BaseResultMap">
        select klass_team.team_id
        from klass,
             klass_team,
             team_student
        where klass.course_id = (select klass.course_id from klass where klass.id = #{klassId})
          and klass_team.klass_id = klass.id
          and klass_team.team_id = team_student.team_id
          and team_student.student_id = #{studentId}
    </select>

    <select id="selectByCourseIdAndStudentId" resultMap="BaseResultMap">
        select klass_team.team_id
        from klass,
             klass_team,
             team_student
        where klass.course_id = #{courseId}
          and klass_team.klass_id = klass.id
          and klass_team.team_id = team_student.team_id
          and team_student.student_id = #{studentId}
    </select>
</mapper>