<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.templab.flippedclass.mapper.MemberLimitStrategyMapper">
  <!-- <cache/>-->
  <resultMap id="BaseResultMap" type="online.templab.flippedclass.entity.MemberLimitStrategy">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="min_member" jdbcType="TINYINT" property="min" />
    <result column="max_member" jdbcType="TINYINT" property="max" />
  </resultMap>

  <select id="getMaxId" resultType="Integer">
    select ifnull(max(id), 0) as serial
    from member_limit_strategy
  </select>

    <insert id="myInsert" useGeneratedKeys="true" keyProperty="id" parameterType="MemberLimitStrategy" keyColumn="id">
        insert into member_limit_strategy(id,min_member,max_member)
        values(#{id},#{min},#{max})
    </insert>

</mapper>
