<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.templab.flippedclass.mapper.TeamOrStrategyMapper">
  <!-- <cache/>-->
  <resultMap id="BaseResultMap" type="online.templab.flippedclass.entity.TeamOrStrategy">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <id column="strategy_name" jdbcType="VARCHAR" property="strategyName" />
    <id column="strategy_id" jdbcType="BIGINT" property="strategyId" />
  </resultMap>

  <select id="getMaxId" resultType="Integer">
    select ifnull(max(id), 0) as serial
    from team_or_strategy
  </select>

  <insert id="myInsert" useGeneratedKeys="true" keyProperty="id" parameterType="TeamOrStrategy" keyColumn="id">
    insert into team_or_strategy(id,strategy_name,strategy_id)
    values(#{id},#{strategyName},#{strategyId})
  </insert>

</mapper>