<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.templab.flippedclass.mapper.KlassMapper">
  <resultMap id="BaseResultMap" type="online.templab.flippedclass.entity.Klass">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="course_id" jdbcType="BIGINT" property="courseId" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="klass_serial" jdbcType="TINYINT" property="serial" />
    <result column="klass_time" jdbcType="VARCHAR" property="time" />
    <result column="klass_location" jdbcType="VARCHAR" property="location" />
  </resultMap>

  <select id="selectIdByCourseId" parameterType="Long" resultType="Long">
        select id
        from klass
        where course_id=#{courseId}
    </select>

    <select id="selectBySubKlassIdCourseId" resultMap="BaseResultMap" >
        SELECT k1.id,
               k1.course_id,
               k1.grade,
               k1.klass_serial,
               k1.klass_time,
               k1.klass_location
        FROM klass k1, klass k2
        WHERE  k1.course_id = #{courseId}  AND k2.id = #{subKlassId} AND k1.klass_serial = k2.klass_serial
    </select>

</mapper>