<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.templab.flippedclass.mapper.TeamValidApplicationMapper">
    <!-- <cache/>-->
    <resultMap id="BaseResultMap" type="online.templab.flippedclass.entity.TeamValidApplication">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="team_id" jdbcType="BIGINT" property="teamId"/>
        <result column="teacher_id" jdbcType="BIGINT" property="teacherId"/>
        <result column="reason" jdbcType="VARCHAR" property="content"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <association property="team" javaType="Team">
            <id column="id" jdbcType="BIGINT" property="id"/>
            <result column="klass_id" jdbcType="BIGINT" property="klassId"/>
            <result column="course_id" jdbcType="BIGINT" property="courseId"/>
            <result column="leader_id" jdbcType="BIGINT" property="leaderId"/>
            <result column="team_name" jdbcType="VARCHAR" property="teamName"/>
        </association>
    </resultMap>

    <select id="selectTeamApplicationByTeacherId" parameterType="long" resultMap="BaseResultMap">
        SELECT a.id,
               a.team_id,
               a.teacher_id,
               a.reason,
               a.status,
               t.id,
               t.klass_id,
               t.course_id,
               t.leader_id,
               t.team_name
        FROM team_valid_application a,
             team t
        WHERE a.teacher_id = #{teacherId}
          and t.id = a.team_id
          and a.status IS NULL
    </select>
</mapper>